/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body{
  background-color: teal;
  text-align: center;
  margin-top: 20%;
  font-size: 1.6em;
}
